html 
  head 
      link(rel='stylesheet' href="design.css")
      title wolve.AI 
  
  body 
    div.header
      img.header_logo(src="wolve ai (1).png")
      div.nav_options
        div#software-nav AI Software 
        div#industry-nav Industry 
        div#company-nav Company 

    div.video
      img.video_logo(src="wolve ai (1).png")
      video#myVideo(autoplay muted loop)
        source(src="wolf.mp4" type="video/mp4")
      div.typewriter
        h1 Leader of the pack.

    div.grid
      div.finance FINANCE 
      div.healthcare HEALTHCARE 
      div.agriculture AGRICULTURE 
      div.fashion FASHION 
      div.transport TRANSPORT 
      div.manufacturing Manufacturing 
      div.advertising ADVERTISING 
      div.entertainment ENTERTAINMENT 

    div.footer
      div.footer_copyright Wolve © 2021
      div.footer_legal Privacy & Legal
      div.footer_contact Contact
      div.footer_careers Careers
      div.footer_news News
      div.footer_engage Engage
      div.footer_locations Locations


    

  
